services:
  dev:
    build:
      context: ./backend/
      target: development
      dockerfile: Dockerfile 
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
    environment:
      - GIN_MODE=debug
    # develop:
    #   watch:
    #     - action: sync
    #       path: ./backend
    #       target: /app
    #       ignore:
    #         - tmp/
    #         - vendor/
    #     - action: rebuild
    #       path: ./backend/go.mod
    #     - action: rebuild
    #       path: ./backend/go.sum

  prod:
    build:
      context: ./backend/
      dockerfile: Dockerfile 
      target: production
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=release
