# this is a yaml anchor where multiple service can reference the same base
# the "x-" is a convertion for extension fields which is ignored by docker 
x-backend-base: &backend-base
  build:
    context: ./backend/
    dockerfile: Dockerfile
  ports:
    - "8080:8080"
  depends_on:
    postgres:
      condition: service_healthy
    redis:
      condition: service_healthy

services:
  dev:
    <<: *backend-base
    profiles: ["dev"] # this tell docker compose what services to build
    build:
      target: development # this is targeting the backend dockerfile development
    environment:
      - GIN_MODE=debug
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - tmp/
            - vendor/
        - action: rebuild
          path: ./backend/go.mod
        - action: rebuild
          path: ./backend/go.sum

  prod:
    <<: *backend-base
    profiles: ["prod"]
    build:
      target: production
    environment:
      - GIN_MODE=release

  #this service name acts as the host name db connection
  postgres:
    profiles: ["dev", "prod"]
    image: postgres:17-alpine
    restart: always
    environment:
      - POSTGRES_DB=urlshortener
      - POSTGRES_USER=urldev
      - POSTGRES_PASSWORD=urlpassword
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    profiles: ["dev", "prod"]
    image: redis:7-alpine
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD:-redispassword}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
